{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patient Signup</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .gradient-custom-2 {
      background: #fccb90;
      background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
      background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
  </style>
</head>
<body>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-6 mb-5">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <img src="{% static 'images/patient-login.png' %}" style="width: 185px;" alt="logo">
              <h4 class="mt-1 mb-5 pb-1">Join Us As A Patient</h4>
            </div>
            <p>Please sign up to create an account</p>
            <form method="post" action="{% url 'patient_signup' %}">
              {% csrf_token %}
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="name">Name</label>
                      <input type="text" id="name" name="name" class="form-control" placeholder="Full Name" value="{{ values.name|default:'' }}">
                      {% if error and 'name' in error %}
                          <div class="text-danger">{{ error.name }}</div>
                      {% endif %}
                  </div>
                  <div class="form-group col-md-6">
                      <label for="email">Email</label>
                      <input type="email" id="email" name="email" class="form-control" placeholder="Email" value="{{ values.email|default:'' }}">
                      {% if error and 'email' in error %}
                          <div class="text-danger">{{ error.email }}</div>
                      {% endif %}
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="phone">Phone</label>
                      <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone" value="{{ values.phone|default:'' }}">
                      {% if error and 'phone' in error %}
                          <div class="text-danger">{{ error.phone }}</div>
                      {% endif %}
                  </div>
                  <div class="form-group col-md-6">
                      <label for="password">Password</label>
                      <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                      {% if error and 'password' in error %}
                          <div class="text-danger">{{ error.password }}</div>
                      {% endif %}
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="gender">Gender</label>
                      <select id="gender" name="gender" class="form-control">
                          <option value="" disabled selected>Choose...</option>
                          {% for gender in genders %}
                              <option value="{{ gender.id }}" {% if gender.id == values.gender %}selected{% endif %}>{{ gender.name }}</option>
                          {% endfor %}
                      </select>
                      {% if error and 'gender' in error %}
                          <div class="text-danger">{{ error.gender }}</div>
                      {% endif %}
                  </div>
              </div>
              <div class="text-center pt-1 mb-2 pb-1">
                <input type="submit" class="btn btn-primary btn-block" value="Sign Up">
            </div>
              <div class="text-center fs-6">
                  <p>Have an account? <a href="{% url 'login' %}">Login</a></p>
              </div>
          </form>
          
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-5">
        <div class="card gradient-custom-2 text-white h-100">
          <div class="card-body d-flex flex-column justify-content-center">
            <h4 class="mb-4">We are more than just a company</h4>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>